/* Global */

#wrapper {
	display:flex;
	flex-direction:row;
}

	#twitter-Contact {
		background-color:#999999;
	}
	
	#facebook-Contact {
		background-color:#888888;
	}
	
	#email-Contact {
		background-color:#777777;
	}
	
	#github-Contact {
		background-color:#666666;
	}
	
	#linkin-Contact {
		background-color:#555555;
	}
	
	#instagram-Contact {
		background-color:#444444;
	}
	
	#section-B article ul li:hover {
		color: var(--color2);
		background-color:var(--color4);
	}

/* Phones */

@media (min-width:320px) and (max-width:760px) {
	
	#wrapper {
		padding:2rem 1rem 0 1rem;
		display:flex;
		flex-direction:column;
		
	}
	
	#section-A {
		padding:0 0 0 0;
		margin-bottom:4rem;
	}
	
		.sections {
			display:flex;
			
		}
	
		#section-A article {
			justify-content: center;
			display:flex;
			justify-content: space-evenly;
			flex-direction:column;
			text-align:center;
			padding:0 0 0 0;
			align-items:center;
		}
	
		#section-A article h1 {
			text-transform: uppercase;
			font-size: var(--font6);
			margin:2rem 0;
			line-height: 1;
		}
		
		#section-A article p {
			font-size:var(--font1);
			line-height: 1.8;
		}
	
		#figure-IMG {
			height:15rem;
			width:15rem;
			border-radius:24rem;
			margin:4rem 0;
			box-shadow:.1rem .5rem .4rem var(--color4);
		}
		
		#section-B {
			display:flex;
			justify-content:center;
		}
			#section-B article ul {
			}
			
			#section-B article ul li {
				width:25rem;
				margin:3rem 0;
				padding:1rem 0 1rem 2rem;
				list-style:none;
				line-height:3;
				font-size:var(--font1);
				background-color:#000000;
				color:var(--color1);	
				box-shadow:0 .7rem .5rem var(--color4);
				display:flex;
				align-items:center;
				justify-content: space-between;
			}
			
			.icons-Contact {
				height:3rem;
				width:3rem;
				margin-right:3rem;
				background-image: url('../images/Logo-1.PNG');
				background-size:contain;
			}
}

@media (min-width:568px) {
	#wrapper {
		padding:2rem 1rem 0 1rem;
		display:flex;
		flex-direction:column;
		
	}
	
	#section-A {
		padding:0 0 0 0;
		margin-bottom:4rem;
	}
	
		.sections {
			display:flex;
			
		}
	
		#section-A article {
			justify-content: center;
			display:flex;
			justify-content: space-evenly;
			flex-direction:column;
			text-align:center;
			padding:0 3rem 0 3rem;
			align-items:center;
		}
	
		#section-A article h1 {
			text-transform: uppercase;
			font-size: var(--font3);
			margin:2rem 0;
			line-height: 1;
		}
		
		#section-A article p {
			font-size:var(--font1);
			line-height: 1.8;
		}
	
		#figure-IMG {
			height:15rem;
			width:15rem;
			border-radius:24rem;
			margin:3rem 0;
			box-shadow:.1rem .5rem .4rem var(--color4);
		}
		
		#section-B {
			display:flex;
			justify-content:center;
		}
			#section-B article ul {
			}
			
			#section-B article ul li {
				width:40rem;
				margin:3rem 0;
				padding:1rem 0 1rem 2rem;
				list-style:none;
				line-height:3;
				font-size:var(--font1);
				background-color:#000000;
				color:var(--color1);	
				box-shadow:0 .7rem .5rem var(--color4);
				display:flex;
				align-items:center;
				justify-content: space-between;
			}
			
			.icons-Contact {
				height:3rem;
				width:3rem;
				margin-right:3rem;
				background-image: url('../images/Logo-1.PNG');
				background-size:contain;
			}
}

/* Tablets */

@media (min-width:760px) and (max-width:1023px) {
	
	#logo {
		margin-left: 5rem;
	}
	
	#navMenuIcon {
		top:5rem;
	}
	
	#wrapper {
		padding:2rem 0 0 0;
	}
	
	#section-A {
		padding:0 0 0 0;
	}
	
		.sections {
			display:flex;
			flex:1;
		}
	
		#section-A article {
			justify-content: center;
			display:flex;
			justify-content: space-evenly;
			flex-direction:column;
			text-align:right;
			padding:0 4rem 0 0;
			align-items:flex-end;
		}
	
		#section-A article h1 {
			text-transform: uppercase;
			font-size: var(--font6);
			margin:2rem 0;
			line-height: 1;
		}
		
		#section-A article p {
			font-size:var(--font1);
			line-height: 1.6;
		}
	
		#figure-IMG {
			height:15rem;
			width:15rem;
			border-radius:24rem;
			margin:0;
			box-shadow:.1rem .5rem .4rem var(--color4);
		}
		
		#section-B {
			flex:3;
		}
			#section-B article {
				padding:2rem 4rem 2rem 4rem;
			}
			
			#section-B article ul li {
				margin:3rem 0;
				padding:1rem 0 1rem 2rem;
				list-style:none;
				line-height:3;
				font-size:var(--font1);
				background-color:#000000;
				color:var(--color1);	
				box-shadow:0 .7rem .5rem var(--color4);
				display:flex;
				align-items:center;
				justify-content: space-between;
			}
			
			.icons-Contact {
				height:3rem;
				width:3rem;
				margin-right:3rem;
				background-image: url('../images/Logo-1.PNG');
				background-size:contain;
			}
		
		}

/* Small Screens */


@media (min-width:1024px)and (max-width:1200px) {
	#section-A {
		padding:0 0 0 0;
	}
	
		.sections {
			display:flex;
		}
	
		#section-A article {
			justify-content: center;
			display:flex;
			justify-content: space-between;
			flex-direction:column;
			text-align:right;
			padding:0 4rem 0 0;
			align-items:flex-end;
		}
	
		#section-A article h1 {
			text-transform: uppercase;
			font-size: var(--font6);
			margin:4rem 0;
			line-height: 1;
		}
		
		#section-A article p {
			font-size:var(--font2);
			line-height: 1.6;
		}
	
		#figure-IMG {
			height:15rem;
			width:15rem;
			border-radius:24rem;
			margin:0;
			box-shadow:.1rem .5rem .4rem var(--color4);
		}
		
		#section-B {
		}
			#section-B article {
				padding:2rem 4rem 2rem 4rem;
			}
			
			#section-B article ul li {
				margin:3rem 0;
				padding:1rem 0 1rem 2rem;
				list-style:none;
				line-height:3;
				font-size:var(--font1);
				background-color:#000000;
				color:var(--color1);	
				box-shadow:0 .7rem .5rem var(--color4);
				display:flex;
				align-items:center;
				justify-content: space-between;
			}
			
			.icons-Contact {
				height:3rem;
				width:3rem;
				margin-right:3rem;
				background-image: url('../images/Logo-1.PNG');
				background-size:contain;
			}
		
}

@media (min-width:1200px) and (max-width:1600px) {
	
	#logo {
		margin-left: 5rem;
	}
	
	#navMenuIcon {
		top:5rem;
	}
	
	#wrapper {
		padding:2rem 0 0 0;
	}
	
	#section-A {
		padding:0 0 0 0;
	}
	
		.sections {
			display:flex;
		}
	
		#section-A article {
			justify-content: center;
			display:flex;
			justify-content: space-evenly;
			flex-direction:column;
			text-align:right;
			padding:0 4rem 0 0;
			align-items:flex-end;
		}
	
		#section-A article h1 {
			text-transform: uppercase;
			font-size: var(--font6);
			margin:4rem 0;
			line-height: 1;
		}
		
		#section-A article p {
			font-size:var(--font2);
			line-height: 1.6;
		}
	
		#figure-IMG {
			height:15rem;
			width:15rem;
			border-radius:24rem;
			margin:0;
			box-shadow:.1rem .5rem .4rem var(--color4);
		}
		
		#section-B {
		}
			#section-B article {
				padding:2rem 4rem 2rem 4rem;
			}
			
			#section-B article ul li {
				margin:3rem 0;
				padding:1rem 0 1rem 2rem;
				list-style:none;
				line-height:3;
				font-size:var(--font1);
				background-color:#000000;
				color:var(--color1);	
				box-shadow:0 .7rem .5rem var(--color4);
				display:flex;
				align-items:center;
				justify-content: space-between;
			}
			
			.icons-Contact {
				height:3rem;
				width:3rem;
				margin-right:3rem;
				background-image: url('../images/Logo-1.PNG');
				background-size:contain;
			}	
		
}


@media (min-width:1600px) {
	
	#wrapper {
		height: 100%;
	}
	
	#section-A, #section-B {
		padding:12rem 0 0 0;
	}
	
		.sections {
			display:flex;
		}
	
		#section-A article {
			justify-content: flex-start;
			display:flex;
			flex-direction:column;
			text-align:right;
			padding:4rem 4rem 4rem 8rem;
			align-items:flex-end;
		}
	
		#section-A article h1 {
			text-transform: uppercase;
			font-size: var(--font7);
			margin:6rem 0;
			line-height: 1;
		}
		
		#section-A article p {
			font-size:var(--font2);
			line-height: 1.6;
		}
	
		#figure-IMG {
			height:20rem;
			width:20rem;
			border-radius:24rem;
			margin:0 0 4rem 0;
			box-shadow:.1rem .5rem .4rem var(--color4);
		}
		
		#section-B {
			display:flex;
		}
			#section-B article {
				padding:2rem 12rem 2rem 12rem;
			}
			
				#section-B article ul {
					display:flex;
					flex-direction:column;
					
				}
				
				#section-B article ul li {
					margin:3rem 0;
					padding:1rem 0 1rem 2rem;
					list-style:none;
					line-height:3;
					font-size:var(--font1);
					background-color:#000000;
					color:var(--color1);	
					box-shadow:0 .7rem .5rem var(--color4);
					display:flex;
					align-items:center;
					justify-content: space-between;
				}
				
				.icons-Contact {
					height:3rem;
					width:3rem;
					margin-right:3rem;
					background-image: url('../images/Logo-1.PNG');
					background-size:contain;
				}
		
		}




