@import url('https://fonts.googleapis.com/css2?family=Belgrano&family=Cairo:wght@300;400;500;700&family=Poppins:wght@100;300;500;900&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* VARIABLES */
:root {
  --font-3: "Roboto", sans-serif;
  --font-2: "Unbuntu", sans-serif;
  --font-1: "Poppins", sans-serif;
  --color-1: white;
	--color-2: lightgrey;
	--color-3: rgb(141, 62, 231);
	--color-4: grey;
	--color-5: black;
}

/* END OF VARIABLES */

/* GENERAL SECTION */

*,html,body {
	box-sizing: border-box;
	margin:0;
	padding:0;
}

html {
	font-size:62.5%;
}

body {
	background-color:var(--color-2);
	font-family: var(--font-1);
	font-size:1.6rem;
	width:100%;
	height:100%;
}

img {
	max-width:50%;
}

#page-Container {
	width:100%;
}

hgroup {
			padding:8rem 2rem;
			text-align: center;
			line-height: 2;
			background-color:var(--color-1);
			color: var(--color-3);
}
	hgroup h1 {
		text-shadow: 1rem .8rem 1.4rem rgb(197, 205, 212);
	}
	
	hgroup blockquote  {
		color:var(--color-4);
	}
	

/* END OF GENERAL SECTION */

/* HEADER SECTION */

	header {
		background-color:var(--color-4);
		align-items:center;
		display:flex;
		justify-content:space-between;
		position:sticky;
		box-shadow: 0 1rem 1rem 0 #555;
	}
	
	header #logo {
		width: 7rem;
		margin:0 auto 0 auto;
	}
	
		header figure img {
			max-width:100%;
		}
		
		header nav {
		display:flex;
	}
	
		header nav ul {
		display:flex;
		}
		
			header nav ul li {
				list-style:none;
			}
	
		header nav figure {
			position:absolute;
			top:2rem;
			right:0;
			width:3.5rem;
			margin-right:2rem;
		}
		
			header nav figure img {
				max-width:100%;
			}

/*END OF HEADER SECTION */

/*FEATURE ABOUT SECTION */

		#feature-Section {
			width:100%;
			background-color:var(--color-4);
 			padding:4rem 0;
		}
		
			#feature-Section figure {
				width:100%;
				display:flex;
				justify-content:center;
			}
			
				#feature-Section figure img {
					width:100%;
					border-radius: 2rem;
					box-shadow: 0 2rem 1rem 0 #555;
				}
			
			#feature-Section article {
				padding: 4rem 2rem;
			}
			
				#feature-Section article p {
					text-align:center;
					color: var(--color-2);
				}
	
/* END OF FEATURE ABOUT SECTION */

/* ABOUT OF SECTION */
	#about-Section {
		display:flex;
		flex-wrap:wrap;
		width:100%;
		background-color:var(--color-4);
	}
	
		#about-Section section {
			width:100%;
			padding:4rem 0 8rem 0;
		}

		#about-Section section aside {
			line-height: 1.8;
			font-size:1.6rem;
			letter-spacing: 1px;
			text-align: center;
			padding: 4rem 2rem 2rem 2rem;
		}

			#about-Section section aside blockquote {
				font-weight: bold;
				color: var(--color-2);
			}
			
			#about-Section section aside span {
				color: var(--color-1);
			}
		
		#about-Section section article {
			line-height: 2;
			text-align: center;
			padding:0 2rem; 
			color: var(--color-5);
		}
			
		#about-Section figure {
			padding: 4rem 0 4rem 0;
			display:flex;
			justify-content: center;
			width:60%;
			margin:0 auto;
		}
			#about-Section figure> img {
				box-shadow: 0 2rem 1rem 0 #555;
				max-width:100%;
				border-radius: 3rem;
			}
/* END OF ABOUT OF SECTION */	
		
/* SKILS SECTION */
	#skills-Section {
		padding:0 0;
		display:flex;
		flex-wrap: wrap;
		justify-content: center;
		background-color:var(--color-4);
	}
	
		#skills-Section section {
			display:flex;
			flex-wrap:wrap;
			column-gap: 1rem;
			row-gap:3rem;
			width:100%;
			justify-content: center;
			padding:4rem 2rem;
		}
			#skills-Section section figure {
				max-width: 10rem;
				width:fit-content;
				background-color:var(--color-5);
				border-radius: 3rem;
				display:flex;
				justify-content: center;
				padding:1rem;
			}

				#skills-Section section figure img {
					width:100%;
				}

		
/* END OF SKILLS SECTION */

/* PROJECTS SECTION */
#projects-Section {
	padding: 0 0;
	background-color:var(--color-4);
}
	#projects-Section section {
		display:flex;
		flex-wrap: wrap;
		width: 100%;
		justify-content: center;
		padding:2rem 0 6rem 0;
	}
	
		#projects-Section section figure {
			margin:4rem 0;
			height:10rem;
			width:20rem;
			background-color: var(--color-4);
			border-radius: 1rem;
			box-shadow: 0 2rem 1rem 0 #555;
		}
	
			#projects-Section section figure img {
				max-width: 100%;
				border-radius: 1rem;
			}
	
			#projects-Section section figure figcaption {
				text-align: center;
				padding:1rem 0 2rem 0;
				font-weight: bold;
				color: var(--color-2);
			}

/* END OF PROJECTS SECITON */

/* CONTACT SECTION */
		#contactform-Section {
			width:100%;
			background-color:var(--color-4);
		}
			#contactform-Section aside {
				padding:4rem 0 4rem 0;
			}
			
				#contactform-Section h3 {
					color: var(--color-2);
					padding:0 0 1rem 0;
					font-size:1.5rem;
					text-align: center;
					overflow-wrap: break-word;
				}
				
				#contactform-Section h3 span {
					color: var(--color-5);
					padding:0 0 0 0;
					font-size:1.2rem;
					letter-spacing: 2px;
				}
				
				#contactform-Section blockquote {
					padding:2rem 2rem;
					font-size: 2.5rem;
					text-align: center;
					color: var(--color-1);
				}

				#contactform-Section form {
					width:100%;
					padding: 1.5rem 3rem 4rem 3rem;
					display:flex;
					flex-wrap:wrap;
					background-color: var(--color-2);
				}

					#contactform-Section form label {
						width:100%;
						text-align: center;
						padding: 2rem 0 1rem 0;
					}

					.inputFields {
						width: 100%;
						border-radius: 1rem;
						border:0;
					}

						.email-InputFields {
							height: 3rem;
						}

						.message-InputFields {
							height: 15rem;
						}

						.Submit-Buttons {
							height:5rem;
							width:10rem;
							border-radius: 1rem;
							border:0;
							background-color: var(--color-3);
							color: var(--color-1);
							font-weight: bolder;
							text-transform: lowercase;
							margin:2rem auto;
						}

/* END OF CONTACT SECTION */

/* FOOTER SECTION */
	#footer-Section {
		color:var(--color-1);
		widows: 95%;
		padding:4rem 0;
		border-top-right-radius: 1px;
		border-top-left-radius: 1px;
		background-color:var(--color-5);
	}
	
		#footer-Section footer {
			width:100%;
			display:flex;		
			flex-wrap:wrap;
			justify-content: center;
		}
		
		#footer-Section footer figure {
			width: 50%;
			display: flex;
			justify-content: center;
		}

				#footer-Section footer figure img {
					width:100%;
				}
			#footer-Section footer p {
				text-align: center;
				font-size: 1rem;
				width:100%;
			}
/* END OF FOOTER SECTION */	
	
/* -------------------------------------------*/
/* -------------------------------------------*/

/* MEDIA QUERRY SECTIONSv*/

@media (max-width:480px) { /* Mobile Devices */
	
/*GENERAL SECTION */
	hgroup {

	}
	hgroup h1 {

	}
	
	hgroup blockquote  {
	
	}
	
	
/* HEADER SECTION */	
	header nav ul {
		display:none;
	}
	
	
/*FEATURE ABOUT SECTION */
	

/* ABOUT SECTION */
	#about-Section section article {
		padding:0 2rem;	
	}
	
		#about-Section section article p {
			font-size:1.7rem;
			/*color:red;*/
		}
		
/* SKILS SECTION */
	#skills-Section hgroup {
		padding:3rem 2rem;
	}

		#skills-Section hgroup blockquote {
			font-size:2rem;
		} 
		
/* PROJECTS SECTION */


/* CONTACT SECTION */
	#contactform-Section hgroup {
		padding:4rem 2rem;
	}
	
		#contactform-Section aside blockquote {
			padding:0 2rem 2rem 2rem;
		}
		
/* FOOTER SECTION */

}

/* -------------------------------------------*/

/*IPHONE LANDSCAPE */
@media (min-width:568px) {
	header nav ul {
		display:none;
	}

	
	#feature-Section {
		display:flex;
		padding:4rem 6rem;
		align-items: center;
	}
	
	#feature-Section figure {
		display:flex;
		flex:1;
		max-height: 15rem;
	}
		#feature-Section figure img {
			max-width:100%;
		}
	
	#feature-Section article {
		flex:2;
	}
	
		#feature-Section article p {
			padding:2rem 0 2rem 0;
			font-size:1.4rem;
			line-height:1.8;
			text-align: left;
		}


	#about-Section hgroup {

	}
		#about-Section section {
			display:flex;
			width:100%;
			padding: 4rem 2rem;
			flex-wrap:wrap;
			align-items: center;
		}

		#about-Section section aside {
			/* flex:1; */
			font-size: 1.5rem;
			padding: 2rem 0 2rem 0;
			width:100%;
		}
		
		#about-Section section article {
			flex:1;
			padding:0 1rem;
		}
		
		#about-Section section article p {
			font-size: 1.1rem;
			line-height: 1.8;
			padding: 0 2rem 0 0;
			text-align: right;	
			word-break:keep-all;
		}
		
		#about-Section section figure {
			width:10rem;
			flex:1;
	}
	
		#about-Section section figure img {
			max-width:100%;
		}
	

		#skills-Section hgroup {
		padding:8rem 2rem;
		width:100%;
	}

		#skills-Section hgroup blockquote {
			font-size:1.8rem;
		} 

		#skills-Section {

	}
	
		#skills-Section section {
			column-gap: 8rem;
			row-gap:3rem;
		}
			#skills-Section section figure {
			}

				#skills-Section section figure img {
				}

		
		#projects-Section section {
		display:flex;
		flex-wrap:nowrap;
		width: 100%;
		justify-content: center;
		padding:2rem 2rem 10rem 2rem;
	}
		
		#projects-Section hgroup blockquote {
			font-size:1.5rem;
		}
	
		#projects-Section section figure {
			background-color: var(--color-4);
			padding:0;
			border-radius: 1rem;
			box-shadow: 0 2rem 1rem 0 #555;
			margin:2rem 1rem;
			max-width: 25rem;
		}
		
		#projects-Section section figure img {
				max-width: 100%;
				border-radius: 1rem;
			}
	
			#projects-Section section figure figcaption {
				text-align: center;
				margin-top:4rem;
				padding:1rem 0 2rem 0;
				font-weight: bold;
				color: var(--color-2);
			}
				
		#contactform-Section form {
			padding:0 8rem;
		}
		
}

/* -------------------------------------------*/

/*TABLET PORTRAITS*/
@media (min-width: 768px) { 
/*GENERAL SECTION */
	header #logo {
		width: 10rem;
		margin:0 auto 0 auto;
	}
	
	header nav figure {
			top:3rem;
			right:0;
			width:5rem;
			margin-right:4rem;
		}

	header nav ul {
		display:none;
	}

	hgroup {
		
	}
	hgroup h1 {
		font-size:5rem;
	}
	
	hgroup blockquote  {
		font-size:4rem;
		padding:2rem;
	}
/* HEADER SECTION */	


/*FEATURE ABOUT SECTION */
#feature-Section {
	padding:6rem 4em;
	align-items:center;
}	

#feature-Section figure {
		flex:1;
		display:flex;
		max-height:30rem;
		
	}
		#feature-Section figure img {
			max-width:100%;
		}
	
	#feature-Section article {
		flex:2;
		font-size:3rem;
	}
	
		#feature-Section article p {
			padding:4rem 4rem 2rem 4rem;
			font-size:1.7rem;
		}
		
/* ABOUT SECTION */
	#about-Section section {
		padding: 4rem 4rem;
	}

	#about-Section hgroup {
		width:100%;
	}
	
		#about-Section blockquote {
			font-size:1.3rem;
		}
	
		#about-Section section aside h2 {
			font-size: 2rem;
		}
		
		#about-Section section article {
			flex:2;
		}
		
		#about-Section section article p {
			font-size: 2rem;
			padding: 0 4rem;	
		}
		
	#about-Section section figure {
		flex:1;
	}
	
		#about-Section section figure img {
			max-width:100%;
		}
		
		
/* SKILS SECTION */
	#skills-Section hgroup {
		width: 100%;
	}
		
		#skills-Section hgroup blockquote {
			
		}
	
	#skills-Section section {
		column-gap:10rem;
		row-gap:8rem;
		padding: 10rem 0 15rem 0;
		
	}	
		
	#skills-Section section figure {
		max-width:20rem;
	}

	
/* PROJECTS SECTION */
	#projects-Section section {
		padding: 10rem 0;
		column-gap:4rem;
	}
	
		#projects-Section section figure {
			width:50%;
			margin-bottom:25rem;
		}
		
			#projects-Section section figure figcaption {
				font-size:4rem;
			}
			
/* CONTACT SECTION */
	#contactform-Section aside blockquote {
		font-size:4.5rem;
		padding:4rem 4rem;
	}
		#contactform-Section aside h3 {
			font-size:3rem;
		}
		
		#contactform-Section aside h3 span {
			font-size:3rem;
		}
	
	#contactform-Section form {
		padding: 6rem 10rem;
	}	
	
		#contactform-Section label {
			font-size: 4rem;
		}
		
	.email-InputFields {
		height:6rem;
	}
	
	.message-InputFields {
		height:25rem;
	}
		
	.Submit-Buttons {
		margin-top:6rem;
		height:10rem;
		width:20rem;
		font-size:3rem;
	}

	#footer-Section footer p {
		font-size: 3.5rem;
	}
/* FOOTER SECTION */

}
/* -------------------------------------------*/
/* SMALL SCREENS */
@media (min-width:1024px) {
/*GENERAL SECTION */
	header #logo {
		width: 6rem;
		margin:0 auto 0 auto;
	}
	
	header nav figure {
			top:1rem;
			right:0;
			width:5rem;
			margin-right:4rem;
		}

	header nav ul {
		display:none;
	}

	hgroup {
		
	}
	hgroup h1 {
		font-size:3rem;
	}
	
	hgroup blockquote  {
		font-size:4rem;
		padding:2rem;
	}
/* HEADER SECTION */	


/*FEATURE ABOUT SECTION */
#feature-Section {
	padding:6rem 6em;
	align-items:center;
}	

#feature-Section figure {
		flex:1;
		display:flex;
		
	}
		#feature-Section figure img {
			max-width:100%;
		}
	
	#feature-Section article {
		flex:3;
	}
	
		#feature-Section article p {
			padding:4rem 4rem 2rem 4rem;
			font-size:2.5rem;
		}
		
/* ABOUT SECTION */
	#about-Section section {
		padding: 4rem 8rem;
	}

	#about-Section hgroup {
		width:100%;
	}
	
		#about-Section hgroup blockquote {
			font-size:2rem;
		}
	
		#about-Section section aside {
			
		}
		
			#about-Section section aside h2 {
				font-size: 4rem;	
			}
			
			#about-Section section blockquote  {
				font-size: 3rem;	
			}
		
		#about-Section section article {
			flex:2;
		}
		
		#about-Section section article p {
			font-size: 2.5rem;
			padding: 0 4rem 0 2rem;	
			line-height: 2;
			text-align: right;
		}
		
	#about-Section section figure {
		float: 2;
	}
	
		#about-Section section figure img {
			max-width:100%;
		}
		
/* SKILLS SECTION */
	#skills-Section hgroup {
		width: 100%;
	}
		
		#skills-Section hgroup blockquote {
			
		}
	
	#skills-Section section {
		column-gap:8rem;
		row-gap:8rem;
		padding: 10rem 0 15rem 0;
	}	
		
	#skills-Section section figure {
		max-width:20rem;
	}
	
/* PROJECTS SECTION */
	#projects-Section section {
		padding: 10rem 5rem;
		column-gap:8rem;
	}
	
		#projects-Section section figure {
			flex: 1;
			margin-bottom:10rem;
		}
		
			#projects-Section section figure figcaption {
				font-size:2.5rem;
			}
			
/* CONTACT SECTION */
	#contactform-Section aside blockquote {
		font-size:5rem;
		padding:4rem 4rem;
	}
		#contactform-Section aside h3 {
			font-size:3rem;
		}
		
		#contactform-Section aside h3 span {
			font-size:3rem;
		}
	
	#contactform-Section form {
		padding: 6rem 20rem;
	}	
	
		#contactform-Section label {
			font-size: 4rem;
		}
		
	.email-InputFields {
		height:6rem;
	}
	
	.message-InputFields {
		height:25rem;
	}
		
	.Submit-Buttons {
		margin-top:6rem;
		height:10rem;
		width:20rem;
		font-size:3rem;
	}
	
	
	/* FOOTER SECTION */
	#footer-Section footer figure {
		width: 20%;
	}
			#footer-Section footer figure img {
			}
			
			#footer-Section footer p {
				font-size:2rem;
			}
		
}

/* -------------------------------------------*/

/* LARGER DESKTOPS AND BEYOND */
@media (min-width:1280px) {
	
	/*GENERAL SECTION */
	hgroup h1 {
		font-size:4rem;
	}
	
	hgroup blockquote {
		font-size:20rem;
	}

/* HEADER SECTION */	
	header {
		justify-content:space-between;
		width:100%;
		padding:0 4rem;
	}

	header #logo {
		width: 6rem;
		margin:0;	
	}
	
		header nav {
			
		} 
	
		header nav figure {
			top:3rem;
			right:0;
			width:2rem;
			margin-right:4rem;
			display:none;
		}
	
		header nav ul {
		display:block;
		display:flex;
		}
	
		header nav ul li  {
			padding: 0 2rem;
		}

/*FEATURE ABOUT SECTION */
#feature-Section {
	padding:8rem 10em;
	align-items:center;
}	

#feature-Section figure {
		flex:1;
		display:flex;
		
	}
		#feature-Section figure img {
			max-width:80%;
		}
	
	#feature-Section article {
		flex:3;
	}
	
		#feature-Section article p {
			padding:4rem 8rem 2rem 8rem;
			font-size:2.4rem;
		}
		
/* ABOUT SECTION */
	#about-Section section {
		padding: 8rem 12em;
	}

	#about-Section hgroup {
		width:100%;
	}
	
		#about-Section hgroup blockquote {
			font-size:4rem;
			padding:4rem 8rem;
		}
	
		#about-Section section aside {
			
		}
		
			#about-Section section aside h2 {
				font-size: 4rem;	
			}
			
			#about-Section section blockquote  {
				font-size: 3rem;	
			}
		
		#about-Section section article {
			flex:2;
		}
		
		#about-Section section article p {
			font-size: 2.4rem;
			padding: 0 8rem 0 4rem;	
			line-height: 2;
			text-align: right;
		}
		
	#about-Section section figure {
		flex: 1;
	}
	
		#about-Section section figure img {
			max-width:100%;
		}
		
/* SKILLS SECTION */
	#skills-Section hgroup {
		width: 100%;
	}
		
		#skills-Section hgroup blockquote {
			font-size:4rem;
			padding:4rem 8rem;
		}
	
	#skills-Section section {
		column-gap:10rem;
		flex-wrap:wrap;
		padding: 10rem 5rem;
		align-items:center;
		display:flex;
	}	
		
	#skills-Section section figure {
		/*max-width:20rem;*/
		flex:1;
	}
	
/* PROJECTS SECTION */
	#projects-Section hgroup blockquote {
		font-size:4rem;
		padding:4rem 8rem;
	}

	#projects-Section section {
		padding: 20rem 5rem;
		column-gap:12rem;
	}
	
		#projects-Section section figure {
			flex: 1;
			margin-bottom:10rem;
		}
		
			#projects-Section section figure figcaption {
				font-size:2.5rem;
			}
			
/* CONTACT SECTION */
	#contactform-Section aside blockquote {
		font-size:2.5rem;
		padding:4rem 4rem;
	}
		#contactform-Section aside h3 {
			font-size:2.5rem;
		}
		
		#contactform-Section aside h3 span {
			font-size:3rem;
		}
	
	#contactform-Section form {
		padding: 6rem 40rem;
	}	
	
		#contactform-Section label {
			font-size: 3rem;
		}
		
	.email-InputFields {
		height:6rem;
	}
	
	.message-InputFields {
		height:20rem;
	}
		
	.Submit-Buttons {
		margin-top:6rem;
		height:8rem;
		width:15rem;
		font-size:3rem;
	}
	
	
	/* FOOTER SECTION */
	#footer-Section footer figure {
		width: 20%;
	}
			#footer-Section footer figure img {
			}
			
			#footer-Section footer p {
				font-size:2rem;
			}
			
}