@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Roboto+Slab:wght@300;400;900&display=swap');



/* VARIABLES /* -------------------------------------------*/
:root {
/*FONTS SIZES*/
	--font0: 1.2rem;
	--font1: 1.6rem;
	--font2: 2.4rem;
	--font3: 3.6rem;
	--font4: 4.8rem;
	
	/*FONT FAMILIES*/
	--font-Family1:"Roboto Slab", serif;
	--font-Family2:'Comfortaa', cursive;
	
/*FONT WEIGHTS*/
	--font-Weight1: lighter;
	--font-weight2: bolder;
	

/* WEBSITE COLORS*/
	--color1: rgb(59, 2, 43, 1); /* Dark purple - 60% */ 
	--color1-5: rgb(59, 2, 43, .5);
	
	--color2: rgb(128, 41, 148, 1); /* Dark Magenta - 30% */ 
	--color2a: rgb(101, 61, 110, 1); /* English Coffee - 30% */ 
	--color2-5: rgb(128, 41, 148, .5);
	 
	--color3: rgb(224, 38, 106, 1); /* Razzmataz - 10% */ 
	--color3-5: rgb(224, 38, 106, .5);
	
	--color4: white;
	--color5: black;
	
/*MISC*/

}


/*GENERAL ELEMENTS /* -------------------------------------------*/

*,html,body {
	box-sizing: border-box;
	margin:0;
	padding:0;
}

html {
	font-size:62.5%;
}

body {
	font-family: var(--font-Family2);
	font-size:var(--font1);
	background-color:var(--color2a);
	color:var(--color4);
	width:100%;
	height:100%;
}

img {
	max-width:100%;
	height:auto;
}



/* - GLOBAL- ID's, CLASSES -------------------------------------------*/
#page-Container {
	width:100%;
}


/* HEADER SECTION -------------------------------------------*/


/* -------------------------------------------*/
/* -------------------------------------------*/
/* -------------------------------------------*/
/* MEDIA QUERRY SECTIONS ------------------------------------------- */
@media (min-width:320px) { /* Mobile Devices */

	
/*TABLET PORTRAITS -------------------------------------------*/
@media (min-width: 760px) { 
/*GENERAL SECTION
 -------------------------------------------*/
 

/* -------------------------------------------*/
/* -------------------------------------------*/


/* SMALL SCREENS -------------------------------------------*/
@media (min-width:1024px) {
	/*GENERAL SECTION
 -------------------------------------------*/
 
/* -------------------------------------------*/
/* -------------------------------------------*/


/* LARGER DESKTOPS AND BEYOND -------------------------------------------*/
@media (min-width:1280px) {
/*GENERAL SECTION
 -------------------------------------------*/
 