@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Roboto+Slab:wght@300;400;900&display=swap');



/* VARIABLES /* -------------------------------------------*/
:root {
/*FONTS SIZES*/
	--font0: 1.2rem;
	--font1: 1.6rem;
	--font2: 2.4rem;
	--font3: 3.6rem;
	--font4: 4.8rem;
	
	/*FONT FAMILIES*/
	--font-Family1:"Roboto Slab", serif;
	--font-Family2:'Comfortaa', cursive;
	
/*FONT WEIGHTS*/
	--font-Weight1: lighter;
	--font-weight2: bolder;
	

/* WEBSITE COLORS*/
	--color1: rgb(59, 2, 43, 1); /* Dark purple - 60% */ 
	--color1-5: rgb(59, 2, 43, .5);
	
	--color2: rgb(128, 41, 148, 1); /* Dark Magenta - 30% */ 
	--color2a: rgb(101, 61, 110, 1); /* English Coffee - 30% */ 
	--color2-5: rgb(128, 41, 148, .5);
	 
	--color3: rgb(224, 38, 106, 1); /* Razzmataz - 10% */ 
	--color3-5: rgb(224, 38, 106, .5);
	
	--color4: white;
	--color5: black;
	
/*MISC*/

}


/*GENERAL ELEMENTS /* -------------------------------------------*/

*,html,body {
	box-sizing: border-box;
	margin:0;
	padding:0;
}

html {
	font-size:62.5%;
}

body {
	font-family: var(--font-Family2);
	font-size:var(--font1);
	background-color:var(--color2a);
	color:var(--color4);
	width:100%;
	height:100%;
}

img {
	max-width:100%;
	height:auto;
}

header nav ul li a {
	font-family: var(--font-Family1);
	font-size: var(--font2);
	font-weight: 500;
	color: var(--color3);
	letter-spacing: 1px;
}
	header nav ul li a:hover {
		color: var(--color3-5);
	}

hgroup {
	width:100%;
	padding:2rem 1rem;
	text-align: center;
	font-family: var(--font-Family1);
	background-color:var(--color5);
	line-height: 2;
}
	hgroup h1 {
		color:var(--color2);
	}
	
	hgroup blockquote  {
		
	}
	
h1 {
	font-family: var(--font-Family1);
}

blockquote {
	font-family: var(--font-Family1);
}
	
figcaption {
	padding:1rem 1rem;
	text-align: center;
	font-family: var(--font-Family1);
}

p {
	line-height: 1.5;
}

#page-Container header, #page-Container footer {
	background-color: var(--color5);
}

a {
	color:var(--color4);
	text-decoration: none;
	cursor:pointer;
}

/* - GLOBAL- ID's, CLASSES -------------------------------------------*/
#page-Container {
	width:100%;
}

.sections {
	padding:0 1rem;
}	

.buttons {
	height:5rem;
	width:10rem;
	border-radius: 1rem;
	border:0;
	background-color: var(--color3);
}

/* HEADER SECTION -------------------------------------------*/
header {
align-items:center;
display:flex;
justify-content:space-between;
position:sticky;
}

	header #logo {
	width: 7rem;
	margin:0 auto 0 auto;
	border-radius:5rem;
	}

header nav {
display:flex;
}

	header nav ul {
	display:flex;
	}

	header nav ul li {
		list-style:none;
	}

header nav figure {
	position:absolute;
	top:1.5rem;
	right:0;
	width:5rem;
	margin-right:2rem;
}

/*FEATURE ABOUT SECTION -------------------------------------------*/
#feature-Section {
}
	#feature-Section p {
		padding: 2rem 0;
		line-height: 1.8;
		font-size:var(--font2);
	}
	
	#feature-Section p span {
		font-size:var(--font3);
	}
	
	#feature-Section figure {
		background-image:url('../images/Photo1-w.png');
		min-height: 40rem;
		min-width:40rem;
		background-color:var(--color2-5);
		background-position: center;
		background-repeat: no-repeat;
		background-size:80%;
		border-radius:24rem;
	}

	#feature-Section figure:hover {
		background-image:url('../images/Photo1-w.png');
		background-size:contain;
		background-color:var(--color2);
	}

/* ABOUT OF SECTION -------------------------------------------*/
	#about-Section {
		flex-direction:reverse;
	}

	#about-Section figure {
		background-image:url('../images/Photo1-w.png');
		min-height: 40rem;
		min-width:40rem;
		background-color:var(--color2-5);
		background-position: center;
		background-repeat: no-repeat;
		background-size:80%;
		border-radius:24rem;
	}
	
	#about-Section figure:hover {
		background-image:url('../images/Photo1-w.png');
		background-size:contain;
		background-color:var(--color3-5);
	}

/* SKILLS SECTION -------------------------------------------*/

/* PROJECTS SECTION -------------------------------------------*/
	

/* CONTACT SECTION -------------------------------------------*/
	#contactform-Section {
		padding:2rem 1rem;
		flex-direction: column;
	}
	
		#contactform-Section aside h1 {
			letter-spacing: 2px;
			padding:.5rem 0;
		}

		#contactform-Section form {
		width:100%;
		display:flex;
		flex-wrap:wrap;
		padding:2rem 2rem;
		background-color:var(--color5);
		border-radius:2rem;
		}
		
			#contactform-Section form label {
				width:100%;
				text-align: center;
				padding: 2rem 0 1rem 0;
			}
		
			.inputFields {
				width: 100%;
				border-radius: 1rem;
				border:0;
			}
		
				.email-InputFields {
					height: 3rem;
				}
		
				.message-InputFields {
					height: 15rem;
				}
		
				.Submit-Button {
					margin:2rem auto;
				}

/* FOOTER SECTION -------------------------------------------*/	
		#page-Container footer {
			padding: 2rem 1rem;
		}

/* -------------------------------------------*/
/* -------------------------------------------*/
/* -------------------------------------------*/
/* MEDIA QUERRY SECTIONS ------------------------------------------- */
@media (min-width:320px) { /* Mobile Devices */
	
/*GENERAL SECTION -------------------------------------------*/
	.sections {
		text-align: center;
		display:flex;
		flex-wrap:wrap;			
	}
	
	#feature-Section,#about-Section,#skills-Section,#projects-Section,#contactform-Section {
		padding:4rem 2rem;
	} 
	
	h1 {
		font-size: var(--font2);
	}
	
		hgroup blockquote  {
			font-size: var(--font0);

		}

	figure {
		max-width:60%;
	}
	
	/* HEADER SECTION -------------------------------------------*/	
	header nav ul {
		display:none;
	}	
	
/*FEATURE ABOUT SECTION -------------------------------------------*/
	#feature-Section {
		justify-content:center;
	}
		
		#feature-Section figure img, #about-Section figure img {
			border-radius: 2rem;
		}
			
/* ABOUT SECTION -------------------------------------------*/
	#about-Section aside {
		margin: 0 auto;
		line-height: 1.5;
	}

		#about-Section article p {
			padding: 2rem 0;
			font-size: var(--font1);
		}
	
		#about-Section aside h1 {
			font-size:var(--font1);
		}
		
	#about-Section figure {
		margin:0 auto;
	}
	
/* SKILLS SECTION -------------------------------------------*/
	#skills-Section section {
		display:flex;
		flex-wrap:wrap;
		column-gap: 3rem;
		row-gap:2rem;
		margin:0 auto;
		width:100%;
		justify-content:center;
	}
	
	#skills-Section figure {
		max-width: 40%;
	}

/* PROJECTS SECTION -------------------------------------------*/
	#projects-Section section {
		display:flex;
		flex-wrap:wrap;
		justify-content:center;
	}

		#projects-Section figure {
			max-width:70%;	
			margin-bottom:4rem;
		}

/* CONTACT SECTION -------------------------------------------*/
	#contactform-Section form {
		margin-top: 2rem;
	}

	hgroup h1 span a {
		font-size:var(--font1);
	}
	
	#contactform-Section h1 {
		font-size:var(--font1);
		margin:0 auto;
	}
	
	#contactform-Section aside p {
		padding:2rem 0;
	}

/* FOOTER SECTION -------------------------------------------*/
	footer {
		flex-direction:column;
	}	

		footer aside {
			margin: 0 auto;
		}
		
			footer aside p {
				font-size: var(--font0);
			}
	
		footer figure {
			width:25%;
			margin:0 auto;
		}	
}
/* -------------------------------------------*/
/* -------------------------------------------*/


/*TABLET PORTRAITS -------------------------------------------*/
@media (min-width: 760px) { 
/*GENERAL SECTION
 -------------------------------------------*/
	.sections {
		display:flex;
	}
	
	#feature-Section,#about-Section,#skills-Section,#projects-Section,#contactform-Section {
		padding:12rem 4rem;
	} 
	
	#feature-Section figure img, #about-Section figure img {
			border-radius: 2rem;
		}
	
	h1 {
		font-size: var(--font4);
	}
	
	hgroup {
		padding: 4rem 2rem;
	}
	
		hgroup blockquote  {
			font-size: var(--font2);
		}

	figure {
		max-width:50%;
	}
		
/* HEADER SECTION -------------------------------------------*/	
	header nav ul {
		display:none;
	}	
	
/*FEATURE ABOUT SECTION -------------------------------------------*/
	#feature-Section {
		align-items:center;
		flex-wrap: nowrap;
	}	
	
	#feature-Section p {
		text-align: left;
	}

	#feature-Section figure {
		margin-right:4rem;
		max-width:40%;
	}
			
/* ABOUT SECTION -------------------------------------------*/
	#about-Section {
		flex-wrap:wrap;
	}

	#about-Section aside {
		margin:0 auto;
		text-align: center;
		font-size: var(--font2);
	}
	
		#about-Section aside h1 {
			font-size:var(--font3);
		}
		
	#about-Section article {
			padding: 4rem 0;
			font-size: var(--font2);
			display:flex;
			
			align-items:center;
		}
	
	#about-Section article p {
		line-height: 1.8;
		font-size: var(--font2);
		padding:0 0 0 4rem;
		text-align: left;
	}
		
	#about-Section figure {
	}
	
/* SKILLS SECTION -------------------------------------------*/
	#skills-Section section {
		display:flex;
		flex-wrap:wrap;
		column-gap: 8rem;
		row-gap:6rem;
		margin:0 auto;
		width:100%;
		justify-content:center;
	}
	
	#skills-Section figure {
		max-width: 20%;
	}

/* PROJECTS SECTION -------------------------------------------*/
	#projects-Section section {
		display:flex;
		flex-wrap:wrap;
		justify-content:center;
	}

		#projects-Section figure {
			max-width:70%;	
			margin-bottom:4rem;
		}

/* CONTACT SECTION -------------------------------------------*/
	#contactform-Section {
		padding: 8rem 4rem 4rem 4rem;
		flex-direction: column;
		flex-direction: row-reverse;
		align-items:center;
	}
	
		#contactform-Section aside {
			max-width:50%;
		}
		
		#contactform-Section aside h1 {
		font-size:var(--font1);
		}
		
		#contactform-Section aside hgroup h1 span a {
			font-size:var(--font1);
		}
		
		#contactform-Section aside p {
			font-size: var(--font2);
			text-align: left;
			padding: 2rem 4rem;
			line-height:1.8;
		}
		
	#contactform-Section form {
		flex-direction: column;	
		max-width: 50%;	
	}

	hgroup h1 span a {
		font-size:var(--font1);
	}
	
	#contactform-Section h1 {
		font-size:var(--font2);
		margin:0 auto;
	}
	
	.inputFields {
			width: 85%;
			margin:0 auto;
			border-radius: 1rem;
			border:0;
		}

/* FOOTER SECTION -------------------------------------------*/
	footer {
		flex-direction:column;
	}	

		footer aside {
			margin: 0 auto;
		}
		
			footer aside p {
				font-size: var(--font0);
			}
	
		footer figure {
			width:10%;
			margin:0 auto;
			}
}

/* -------------------------------------------*/
/* -------------------------------------------*/


/* SMALL SCREENS -------------------------------------------*/
@media (min-width:1024px) {
	/*GENERAL SECTION
 -------------------------------------------*/
	.sections {
		display:flex;
	}
	
	#feature-Section,#about-Section,#skills-Section,#projects-Section,#contactform-Section {
		padding:12rem 4rem;
	} 
	
	#feature-Section figure img, #about-Section figure img {
			border-radius: 2rem;
		}
	
	h1 {
		font-size: var(--font4);
	}
	
	hgroup {
		padding: 4rem 4rem;
	}
	
		hgroup blockquote  {
			font-size: var(--font2);
		}

	figure {
		/*max-width:50%;*/
	}
		
/* HEADER SECTION -------------------------------------------*/	
	header nav ul {
		display:none;
	}	
	
/*FEATURE ABOUT SECTION -------------------------------------------*/
	#feature-Section {
		align-items:center;
		flex-wrap: nowrap;
	}	
	
	#feature-Section p {
		text-align: left;
	}

	#feature-Section figure {
		margin-right:4rem;
		max-width:25%;
	}
			
/* ABOUT SECTION -------------------------------------------*/
	#about-Section {
		flex-wrap:wrap;
		align-items:center;
	}

	#about-Section aside {
		margin:0 auto;
		text-align: center;
		font-size: var(--font2);
	}
	
		#about-Section aside h1 {
			font-size:var(--font3);
		}
		
		#about-Section article {
			padding: 10rem 4rem;
			font-size: var(--font2);
			display:flex;
			align-items:center;
		}
	
		#about-Section article p {
			max-width:50%;
			line-height: 1.8;
			font-size: var(--font2);
			padding:0 0 0 0;
			text-align: right;
		}
		
	#about-Section figure {
		max-width:30%;
	}
	
/* SKILLS SECTION -------------------------------------------*/
	#skills-Section section {
		display:flex;
		flex-wrap:nowrap;
		column-gap: 8rem;
		row-gap:6rem;
		margin:0 auto;
		width:100%;
		justify-content:center;
	}
	
	#skills-Section figure {
		max-width: 10%;
	}

/* PROJECTS SECTION -------------------------------------------*/
	#projects-Section section {
		display:flex;
		flex-wrap:nowrap;
		justify-content:center;
	}

		#projects-Section figure {
			max-width:50%;	
			margin:4rem 2rem 4rem 2rem;
		}
		
			#projects-Section figure figcaption {
				font-size:var(--font2);
				margin:1rem 0;
			}

/* CONTACT SECTION -------------------------------------------*/
	#contactform-Section {
		padding: 8rem 4rem 4rem 4rem;
		flex-direction: row;
		flex-direction: row-reverse;
		align-items:center;
	}
	
		#contactform-Section aside {
			flex:1;
		}
		
		#contactform-Section aside h1 {
		font-size:var(--font2);
		}
		
		#contactform-Section aside hgroup h1 span a {
			font-size:var(--font1);
		}
		
		#contactform-Section aside p {
			font-size: var(--font2);
			text-align: center;
			padding: 2rem 4rem;
			line-height:1.8;
		}
		
	#contactform-Section form {
		flex:2;
		flex-direction: column;	
		max-width: 50%;	
	}

	hgroup h1 span a {
		font-size:var(--font1);
	}
	
	#contactform-Section h1 {
		font-size:var(--font2);
		margin:0 auto;
	}
	
	#contactform-Section form label {
		font-size: var(--font2);
		padding:2rem 0;
	}	
	
	.inputFields {
			width: 80%;
			margin:0 auto;
			border-radius: 1rem;
			border:0;
	}
		
	.Submit-Button {
			font-size:var(--font2);
			width:15rem;
			margin-top: 4rem;
	}

/* FOOTER SECTION -------------------------------------------*/
	footer {
		flex-direction:column;
	}	

		footer aside {
			margin: 0 auto;
		}
		
			footer aside p {
				font-size: var(--font0);
			}
	
		footer figure {
			width:10%;
			margin:0 auto;
			}
}

/* -------------------------------------------*/
/* -------------------------------------------*/


/* LARGER DESKTOPS AND BEYOND -------------------------------------------*/
@media (min-width:1280px) {
/*GENERAL SECTION
 -------------------------------------------*/
	.sections {
		
	}
	
	#feature-Section,#about-Section,#skills-Section,#projects-Section,#contactform-Section {
		padding:12rem 4rem;
	} 
	
	#feature-Section figure img, #about-Section figure img {
			border-radius: 2rem;
		}
	
	h1 {
		font-size: var(--font3);
	}
	
	hgroup {
		padding: 4rem 4rem;
	}
	
		hgroup blockquote  {
			font-size: var(--font2);
		}

	figure {
		max-width:100%;
	}
	
	#page-Container header, #page-Container footer {
		padding:2rem 0;
	}
		
/* HEADER SECTION -------------------------------------------*/	
	#page-Container header {
		padding:2rem;
	}
	
	header #logo {
		margin:0 0;
	}
	
	header nav {

	}
	
		header nav ul {
			display:inline-block;
			display:flex;
		}
	
			header nav ul li {
				padding: 0 2rem;
			}
	
	header nav figure {
		display:none;
	}
		
/*FEATURE ABOUT SECTION -------------------------------------------*/
	#feature-Section {
		align-items:center;
		flex-wrap: nowrap;
	}	
	
		#feature-Section p {
			text-align: left;
			padding:0 2rem;
		}
	
		#feature-Section figure {
			margin-right:1rem;
			max-width:20%;
		}
			
/* ABOUT SECTION -------------------------------------------*/
	#about-Section {
		flex-wrap:wrap;
		align-items:center;
	}

	#about-Section aside {
		margin:0 auto;
		text-align: center;
		font-size: var(--font2);
	}
	
		#about-Section aside h1 {
			font-size:var(--font3);
		}
		
		#about-Section article {
			padding: 10rem 0;
			font-size: var(--font2);
			display:flex;
			align-items:center;
			justify-content:center;
		}
	
			#about-Section article p {
				line-height: 1.8;
				font-size: var(--font2);
				padding:0 0 0 4rem;
				text-align: left;
			}
		
	#about-Section figure {
		margin:0 0;
	}
	
/* SKILLS SECTION -------------------------------------------*/
	#skills-Section section {
		display:flex;
		flex-wrap:nowrap;
		column-gap: 8rem;
		row-gap:6rem;
		margin:0 auto;
		width:100%;
		justify-content:center;
	}
	
	#skills-Section figure {
		max-width: 20%;
	}

/* PROJECTS SECTION -------------------------------------------*/
	#projects-Section section {
		display:flex;
		flex-wrap:nowrap;
		justify-content:center;
	}

		#projects-Section figure {
			max-width:70%;	
			margin-bottom:8rem;
		}
		
			#projects-Section figure figcaption {
				font-size:var(--font3);
				margin:1rem 0;
			}

/* CONTACT SECTION -------------------------------------------*/
	#contactform-Section {
		padding: 8rem 4rem 8rem 4rem;
		flex-direction: row;
		flex-direction: row-reverse;
		align-items:center;
	}
	
		#contactform-Section aside {
				flex:1;
		}
		
		#contactform-Section aside h1 {
				font-size:var(--font2);
			}
		
		#contactform-Section aside hgroup h1 span a {
			max-width: 90%;
		}
		
		#contactform-Section aside p {
			font-size: var(--font3);
			text-align: center;
			line-height:1.8;
		}
		
	#contactform-Section form {
		flex:2;
		flex-direction: column;	
		max-width: 40%;	
	}
	
		#contactform-Section form label {
			font-size: var(--font2);
			padding:2rem 0;
		}	
	
		.inputFields {
				width: 80%;
				margin:0 auto;
				border-radius: 1rem;
				border:0;
		}
			
		.Submit-Button {
				font-size:var(--font2);
				width:15rem;
				margin-top: 4rem;
		}

/* FOOTER SECTION -------------------------------------------*/
	footer {
		flex-direction:column;
	}	

		footer aside {
			margin: 0 auto;
		}
		
			footer aside p {
				font-size: var(--font0);
			}
	
		footer figure {
			width:5%;
			margin:0 auto;
		}
			
}