/* Global */
aside ul li {
		list-style: none;
		border: .1rem solid var(--color2);
		padding:1rem 1.5rem;
		color:var(--color5);
		font-weight:var(--font-weight2);
		font-size:var(--font0);
	}
	
aside ul li:hover {
		color:var(--color2);
		background-color:var(--color5);
		border: .1rem solid var(--color4);
		font-weight:var(--font-weight1);
	}

/*Media Querries*/

/* Phones */

@media(min-width:320px) and (max-width:759px) {
	aside ul {
		display:flex;
		width:100%;	
		margin:4rem 0 0 0;
		justify-content:space-between;
	}
	
	aside ul li {
		list-style: none;
		padding:2rem 1.5rem;
	}

}

/*- tablets*/

@media (min-width:760px)and (max-width:1024px) {
	#wrapper {
		flex-direction:row;
	}
	
	.section-B article {
		height:100%;
		display:flex;
		flex-direction:column;
		justify-content:space-evenly;
	}
	
	aside ul {
		display:flex;
		width:100%;	
		justify-content:space-between;
	}
	
	aside ul li {
		list-style: none;
		border: .1rem solid var(--color2);
		padding:1rem 1.5rem;
		color:var(--color5);
		font-weight:var(--font-weight1);
	}
	
	.section-B article p {
		padding:0 0;
	}
	
	.section-B article hgroup h3 {
		color:var(--color4);	
	}
}

@media(min-width:1024px)and (max-width:1280px) {
	#wrapper {
		flex-direction:row;
	}
	
	.section-B article {
		height:100%;
		display:flex;
		flex-direction:column;
		justify-content:space-evenly;
	}
	
	aside ul {
		display:flex;
		width:100%;	
		justify-content:space-between;
	}
	
	aside ul li {
		list-style: none;
		border: .1rem solid var(--color2);
		padding:1rem 1.5rem;
		color:var(--color5);
		font-weight:var(--font-weight1);
	}
	
	.section-B article p {
		padding:0 0;
	}
	
	.section-B article hgroup h3 {
		color:var(--color4);	
	}
}

@media(min-width:1600px) {
	#wrapper {
		flex-direction:row;
	}
	
	.section-B article {
		height:100%;
		display:flex;
		flex-direction:column;
		justify-content:space-evenly;
	}
	
	aside ul {
		display:flex;
		width:100%;	
		justify-content:space-between;
	}
	
	aside ul li {
		list-style: none;
		border: .1rem solid var(--color2);
		padding:1rem 1.5rem;
		color:var(--color5);
		font-weight:var(--font-weight1);
		font-size: 2rem;	
	}
	
	.section-B article p {
		padding:0 0;
	}
	
	.section-B article hgroup h3 {
		color:var(--color4);	
	}
}

@media(min-width:1280px)and (max-width:1600px) {
	#wrapper {
		flex-direction:row;
	}
	
	.section-B article {
		height:100%;
		display:flex;
		flex-direction:column;
		justify-content:space-evenly;
	}
	
	aside ul {
		display:flex;
		width:100%;	
		justify-content:space-between;
	}
	
	aside ul li {
		list-style: none;
		border: .1rem solid var(--color2);
		padding:1rem 1.5rem;
		color:var(--color5);
		font-weight:var(--font-weight1);
	}
	
	.section-B article p {
		padding:0 0;
	}
	
	.section-B article hgroup h3 {
		color:var(--color4);	
	}
}

@media(min-width:1600px) {
	#wrapper {
		flex-direction:row;
	}
	
	.section-B article {
		height:100%;
		display:flex;
		flex-direction:column;
		justify-content:space-evenly;
	}
	
	aside ul {
		display:flex;
		width:100%;	
		justify-content:space-between;
	}
	
	aside ul li {
		list-style: none;
		border: .1rem solid var(--color2);
		padding:1rem 1.5rem;
		color:var(--color5);
		font-weight:var(--font-weight1);
		font-size: 2rem;	
	}
	
	.section-B article p {
		padding:0 0;
	}
	
	.section-B article hgroup h3 {
		color:var(--color4);	
	}
}